@use "./base/reset";

.matchId {
  text-align: right;
}

.title {
  margin-top: 5rem;
  text-align: center;
}

.target {
  text-align: center;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 3rem;
}

.div-center {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cards-wrapper {
    margin-top: 8rem;
    flex-wrap: nowrap;
  }
}
